<mat-form-field appearance="fill">
  <mat-label>Symbols</mat-label>
  <mat-select (selectionChange)="onSymbolChange($event.value)">
    <mat-option *ngFor="let symbol of symbols" [value]="symbol">
      {{ symbol.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button (click)="showRealTimeComponent()">Subscribe</button>

<app-real-time *ngIf="showRealTimeAndChart" [symbol]="currentSymbol"></app-real-time>
<app-historical-chart *ngIf="showRealTimeAndChart" [instrumentId]="currentSymbol?.instrumentId!"
                      [provider]="provider"></app-historical-chart>
